<a href="https://colab.research.google.com/github/Aytijha/GrabYourPopcorn_Cine_Analysis/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
movie_df = pd.read_csv('Movie DF.csv')

In [2]:
movie_df

     Unnamed: 0             Name of movie  ... Movie Rating Metascore
0             0  The Shawshank Redemption  ...          9.3        80
1             1             The Godfather  ...          9.2       100
2             2           Soorarai Pottru  ...          9.1    ^^^^^^
3             3           The Dark Knight  ...          9.0        84
4             4    The Godfather: Part II  ...          9.0        90
..          ...                       ...  ...          ...       ...
995         995                     Giant  ...          7.6        84
996         996     From Here to Eternity  ...          7.6        85
997         997                     Gilda  ...          7.6    ^^^^^^
998         998                  Lifeboat  ...          7.6        78
999         999              The 39 Steps  ...          7.6        93

[1000 rows x 12 columns]

In [5]:
movie_df['Director'].value_counts()

R            371
Not Rated    177
PG-13        164
PG           144
Passed        42
G             42
Approved      27
TV-MA          5
TV-PG          4
GP             4
Unrated        3
96 min         2
TV-14          2
M              1
152 min        1
102 min        1
103 min        1
125 min        1
109 min        1
113 min        1
110 min        1
NC-17          1
127 min        1
112 min        1
135 min        1
128 min        1
Name: Director, dtype: int64

In [12]:
ratings = ['R', 'PG-13', 'PG', 'G', 'TV-MA', 'TV-PG', 'GP', 'TV-14', 'M', 'NC-17', 'Not Rated']

for i in range(len(movie_df['Director'])):
  if movie_df['Director'][i] not in ratings:
    movie_df['Director'][i] = 'Not Rated'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [13]:
movie_df['Director'].value_counts()

R            371
Not Rated    262
PG-13        164
PG           144
G             42
TV-MA          5
TV-PG          4
GP             4
TV-14          2
NC-17          1
M              1
Name: Director, dtype: int64

In [14]:
movie_df.rename(columns={"Movie Rating": "Stars", "Director": "Rating"}, inplace=True)

In [15]:
movie_df.drop('Star', inplace=True, axis=1)

In [19]:
movie_df.drop('Year of relase', inplace=True, axis=1)

KeyError: ignored

In [20]:
movie_df.drop('Unnamed: 0', inplace=True, axis=1)

In [21]:
movie_df

                Name of movie  ... Metascore
0    The Shawshank Redemption  ...        80
1               The Godfather  ...       100
2             Soorarai Pottru  ...    ^^^^^^
3             The Dark Knight  ...        84
4      The Godfather: Part II  ...        90
..                        ...  ...       ...
995                     Giant  ...        84
996     From Here to Eternity  ...        85
997                     Gilda  ...    ^^^^^^
998                  Lifeboat  ...        78
999              The 39 Steps  ...        93

[1000 rows x 9 columns]