<a href="https://colab.research.google.com/github/Aytijha/GrabYourPopcorn_Cine_Analysis/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
movie_df = pd.read_csv('Movie DF.csv')

In [2]:
movie_df

     Unnamed: 0             Name of movie  ... Movie Rating Metascore
0             0  The Shawshank Redemption  ...          9.3        80
1             1             The Godfather  ...          9.2       100
2             2           Soorarai Pottru  ...          9.1    ^^^^^^
3             3           The Dark Knight  ...          9.0        84
4             4    The Godfather: Part II  ...          9.0        90
..          ...                       ...  ...          ...       ...
995         995                     Giant  ...          7.6        84
996         996     From Here to Eternity  ...          7.6        85
997         997                     Gilda  ...          7.6    ^^^^^^
998         998                  Lifeboat  ...          7.6        78
999         999              The 39 Steps  ...          7.6        93

[1000 rows x 12 columns]

In [3]:
movie_df['Director'].value_counts()

R            371
Not Rated    177
PG-13        164
PG           144
G             42
Passed        42
Approved      27
TV-MA          5
GP             4
TV-PG          4
Unrated        3
TV-14          2
96 min         2
128 min        1
M              1
135 min        1
152 min        1
103 min        1
113 min        1
112 min        1
110 min        1
125 min        1
102 min        1
NC-17          1
127 min        1
109 min        1
Name: Director, dtype: int64

In [4]:
ratings = ['R', 'PG-13', 'PG', 'G', 'TV-MA', 'TV-PG', 'GP', 'TV-14', 'M', 'NC-17', 'Not Rated']

for i in range(len(movie_df['Director'])):
  if movie_df['Director'][i] not in ratings:
    movie_df['Director'][i] = 'Not Rated'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [5]:
movie_df['Director'].value_counts()

R            371
Not Rated    262
PG-13        164
PG           144
G             42
TV-MA          5
GP             4
TV-PG          4
TV-14          2
NC-17          1
M              1
Name: Director, dtype: int64

In [6]:
movie_df.rename(columns={"Movie Rating": "Stars", "Director": "Rating"}, inplace=True)

In [7]:
movie_df.drop('Star', inplace=True, axis=1)

In [8]:
movie_df.drop('Year of relase', inplace=True, axis=1)

In [9]:
movie_df.drop('Unnamed: 0', inplace=True, axis=1)

In [10]:
movie_df

                Name of movie  ... Metascore
0    The Shawshank Redemption  ...        80
1               The Godfather  ...       100
2             Soorarai Pottru  ...    ^^^^^^
3             The Dark Knight  ...        84
4      The Godfather: Part II  ...        90
..                        ...  ...       ...
995                     Giant  ...        84
996     From Here to Eternity  ...        85
997                     Gilda  ...    ^^^^^^
998                  Lifeboat  ...        78
999              The 39 Steps  ...        93

[1000 rows x 9 columns]

In [11]:
nlp_metascore_df = movie_df[['Name of movie', 'Description', 'Genre', 'Metascore']]
nlp_metascore_df

                Name of movie  ... Metascore
0    The Shawshank Redemption  ...        80
1               The Godfather  ...       100
2             Soorarai Pottru  ...    ^^^^^^
3             The Dark Knight  ...        84
4      The Godfather: Part II  ...        90
..                        ...  ...       ...
995                     Giant  ...        84
996     From Here to Eternity  ...        85
997                     Gilda  ...    ^^^^^^
998                  Lifeboat  ...        78
999              The 39 Steps  ...        93

[1000 rows x 4 columns]

In [12]:
l = dict(nlp_metascore_df['Metascore'].value_counts())

In [13]:
l

{'100': 12,
 '28': 1,
 '30': 1,
 '33': 1,
 '36': 1,
 '40': 1,
 '41': 1,
 '44': 1,
 '45': 2,
 '46': 1,
 '47': 4,
 '48': 1,
 '49': 2,
 '50': 3,
 '51': 3,
 '52': 5,
 '53': 3,
 '54': 3,
 '55': 5,
 '56': 3,
 '57': 4,
 '58': 8,
 '59': 5,
 '60': 7,
 '61': 9,
 '62': 9,
 '63': 9,
 '64': 13,
 '65': 16,
 '66': 16,
 '67': 13,
 '68': 19,
 '69': 15,
 '70': 17,
 '71': 20,
 '72': 27,
 '73': 25,
 '74': 22,
 '75': 24,
 '76': 33,
 '77': 24,
 '78': 25,
 '79': 25,
 '80': 28,
 '81': 23,
 '82': 24,
 '83': 25,
 '84': 29,
 '85': 27,
 '86': 29,
 '87': 22,
 '88': 26,
 '89': 16,
 '90': 29,
 '91': 20,
 '92': 13,
 '93': 15,
 '94': 20,
 '95': 11,
 '96': 18,
 '97': 12,
 '98': 9,
 '99': 4,
 '^^^^^^': 161}

In [14]:
NaN_metascore_rows = []

for i in range(len(nlp_metascore_df['Metascore'])):
  if nlp_metascore_df['Metascore'][i] == '^^^^^^':
    NaN_metascore_rows.append(i)

In [15]:
len(NaN_metascore_rows)

161

In [16]:
nlp_metascore_df.drop(labels=NaN_metascore_rows, axis=0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
nlp_metascore_df

                Name of movie  ... Metascore
0    The Shawshank Redemption  ...        80
1               The Godfather  ...       100
3             The Dark Knight  ...        84
4      The Godfather: Part II  ...        90
5                12 Angry Men  ...        96
..                        ...  ...       ...
994    Breakfast at Tiffany's  ...        76
995                     Giant  ...        84
996     From Here to Eternity  ...        85
998                  Lifeboat  ...        78
999              The 39 Steps  ...        93

[839 rows x 4 columns]

In [18]:
nlp_stars_df = movie_df[['Name of movie', 'Description', 'Genre', 'Stars']]
nlp_stars_df

                Name of movie  ... Stars
0    The Shawshank Redemption  ...   9.3
1               The Godfather  ...   9.2
2             Soorarai Pottru  ...   9.1
3             The Dark Knight  ...   9.0
4      The Godfather: Part II  ...   9.0
..                        ...  ...   ...
995                     Giant  ...   7.6
996     From Here to Eternity  ...   7.6
997                     Gilda  ...   7.6
998                  Lifeboat  ...   7.6
999              The 39 Steps  ...   7.6

[1000 rows x 4 columns]

In [19]:
nlp_stars_df['Stars'].value_counts()

7.7    165
7.8    146
8.0    138
8.1    138
7.9    109
7.6    104
8.2     66
8.3     47
8.4     30
8.5     22
8.6     14
8.8      6
8.7      5
8.9      4
9.0      3
9.1      1
9.3      1
9.2      1
Name: Stars, dtype: int64

In [20]:
numeric_metascore_df = movie_df[['Name of movie', 'Rating', 'Genre', 'Watchtime', 'Metascore']]
numeric_metascore_df

                Name of movie     Rating  ... Watchtime  Metascore
0    The Shawshank Redemption          R  ...       142         80
1               The Godfather          R  ...       175        100
2             Soorarai Pottru      TV-MA  ...       153     ^^^^^^
3             The Dark Knight      PG-13  ...       152         84
4      The Godfather: Part II          R  ...       202         90
..                        ...        ...  ...       ...        ...
995                     Giant          G  ...       201         84
996     From Here to Eternity  Not Rated  ...       118         85
997                     Gilda  Not Rated  ...       110     ^^^^^^
998                  Lifeboat  Not Rated  ...        97         78
999              The 39 Steps  Not Rated  ...        86         93

[1000 rows x 5 columns]

In [21]:
NaN_metascore_rows = []

for i in range(len(numeric_metascore_df['Metascore'])):
  if numeric_metascore_df['Metascore'][i] == '^^^^^^':
    NaN_metascore_rows.append(i)

In [22]:
len(NaN_metascore_rows)

161

In [23]:
numeric_metascore_df.drop(labels=NaN_metascore_rows, axis=0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [24]:
numeric_metascore_df

                Name of movie     Rating  ... Watchtime  Metascore
0    The Shawshank Redemption          R  ...       142         80
1               The Godfather          R  ...       175        100
3             The Dark Knight      PG-13  ...       152         84
4      The Godfather: Part II          R  ...       202         90
5                12 Angry Men  Not Rated  ...        96         96
..                        ...        ...  ...       ...        ...
994    Breakfast at Tiffany's  Not Rated  ...       115         76
995                     Giant          G  ...       201         84
996     From Here to Eternity  Not Rated  ...       118         85
998                  Lifeboat  Not Rated  ...        97         78
999              The 39 Steps  Not Rated  ...        86         93

[839 rows x 5 columns]

In [25]:
numeric_stars_df = movie_df[['Name of movie', 'Rating', 'Genre', 'Watchtime', 'Stars']]
numeric_stars_df

                Name of movie     Rating  ... Watchtime  Stars
0    The Shawshank Redemption          R  ...       142    9.3
1               The Godfather          R  ...       175    9.2
2             Soorarai Pottru      TV-MA  ...       153    9.1
3             The Dark Knight      PG-13  ...       152    9.0
4      The Godfather: Part II          R  ...       202    9.0
..                        ...        ...  ...       ...    ...
995                     Giant          G  ...       201    7.6
996     From Here to Eternity  Not Rated  ...       118    7.6
997                     Gilda  Not Rated  ...       110    7.6
998                  Lifeboat  Not Rated  ...        97    7.6
999              The 39 Steps  Not Rated  ...        86    7.6

[1000 rows x 5 columns]

In [26]:
nlp_metascore_df.to_csv('NLP MetaScore DF.csv')
nlp_stars_df.to_csv('NLP Stars DF.csv')
numeric_metascore_df.to_csv('Numeric MetaScore DF.csv')
numeric_stars_df.to_csv('Numeric Stars DF.csv')

In [28]:
temp_df = pd.read_csv('NLP Stars DF.csv')
temp_df

     Unnamed: 0             Name of movie  ...                    Genre Stars
0             0  The Shawshank Redemption  ...                    Drama   9.3
1             1             The Godfather  ...              Crime Drama   9.2
2             2           Soorarai Pottru  ...                    Drama   9.1
3             3           The Dark Knight  ...       Action Crime Drama   9.0
4             4    The Godfather: Part II  ...              Crime Drama   9.0
..          ...                       ...  ...                      ...   ...
995         995                     Giant  ...            Drama Western   7.6
996         996     From Here to Eternity  ...        Drama Romance War   7.6
997         997                     Gilda  ...  Drama Film-Noir Romance   7.6
998         998                  Lifeboat  ...                Drama War   7.6
999         999              The 39 Steps  ...   Crime Mystery Thriller   7.6

[1000 rows x 5 columns]