<a href="https://colab.research.google.com/github/Aytijha/Caramel_Popcorn_Movie_Time/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
movie_df = pd.read_csv('Movie DF.csv')

In [2]:
movie_df

     Unnamed: 0             Name of movie  ... Movie Rating Metascore
0             0  The Shawshank Redemption  ...          9.3        80
1             1             The Godfather  ...          9.2       100
2             2           Soorarai Pottru  ...          9.1    ^^^^^^
3             3           The Dark Knight  ...          9.0        84
4             4    The Godfather: Part II  ...          9.0        90
..          ...                       ...  ...          ...       ...
995         995                     Giant  ...          7.6        84
996         996     From Here to Eternity  ...          7.6        85
997         997                     Gilda  ...          7.6    ^^^^^^
998         998                  Lifeboat  ...          7.6        78
999         999              The 39 Steps  ...          7.6        93

[1000 rows x 12 columns]

In [3]:
movie_df['Director'].value_counts()

R            371
Not Rated    177
PG-13        164
PG           144
G             42
Passed        42
Approved      27
TV-MA          5
GP             4
TV-PG          4
Unrated        3
96 min         2
TV-14          2
M              1
112 min        1
113 min        1
102 min        1
127 min        1
125 min        1
110 min        1
128 min        1
135 min        1
109 min        1
NC-17          1
103 min        1
152 min        1
Name: Director, dtype: int64

In [4]:
ratings = ['R', 'PG-13', 'PG', 'G', 'TV-MA', 'TV-PG', 'GP', 'TV-14', 'M', 'NC-17', 'Not Rated']

for i in range(len(movie_df['Director'])):
  if movie_df['Director'][i] not in ratings:
    movie_df['Director'][i] = 'Not Rated'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [5]:
movie_df['Director'].value_counts()

R            371
Not Rated    262
PG-13        164
PG           144
G             42
TV-MA          5
GP             4
TV-PG          4
TV-14          2
NC-17          1
M              1
Name: Director, dtype: int64

In [6]:
movie_df.rename(columns={"Movie Rating": "Stars", "Director": "Rating"}, inplace=True)

In [7]:
movie_df.drop('Star', inplace=True, axis=1)

In [8]:
movie_df.drop('Unnamed: 0', inplace=True, axis=1)

In [9]:
movie_df

                Name of movie Year of relase  ... Stars Metascore
0    The Shawshank Redemption           1994  ...   9.3        80
1               The Godfather           1972  ...   9.2       100
2             Soorarai Pottru           2020  ...   9.1    ^^^^^^
3             The Dark Knight           2008  ...   9.0        84
4      The Godfather: Part II           1974  ...   9.0        90
..                        ...            ...  ...   ...       ...
995                     Giant           1956  ...   7.6        84
996     From Here to Eternity           1953  ...   7.6        85
997                     Gilda           1946  ...   7.6    ^^^^^^
998                  Lifeboat           1944  ...   7.6        78
999              The 39 Steps           1935  ...   7.6        93

[1000 rows x 10 columns]

In [10]:
nlp_df = movie_df[['Name of movie', 'Description', 'Genre']]
nlp_df

                Name of movie  ...                    Genre
0    The Shawshank Redemption  ...                    Drama
1               The Godfather  ...              Crime Drama
2             Soorarai Pottru  ...                    Drama
3             The Dark Knight  ...       Action Crime Drama
4      The Godfather: Part II  ...              Crime Drama
..                        ...  ...                      ...
995                     Giant  ...            Drama Western
996     From Here to Eternity  ...        Drama Romance War
997                     Gilda  ...  Drama Film-Noir Romance
998                  Lifeboat  ...                Drama War
999              The 39 Steps  ...   Crime Mystery Thriller

[1000 rows x 3 columns]

In [11]:
l1 = dict(movie_df['Stars'].value_counts())
l1

{7.6: 104,
 7.7: 165,
 7.8: 146,
 7.9: 109,
 8.0: 138,
 8.1: 138,
 8.2: 66,
 8.3: 47,
 8.4: 30,
 8.5: 22,
 8.6: 14,
 8.7: 5,
 8.8: 6,
 8.9: 4,
 9.0: 3,
 9.1: 1,
 9.2: 1,
 9.3: 1}

In [12]:
l2 = dict(movie_df['Metascore'].value_counts())
l2

{'100': 12,
 '28': 1,
 '30': 1,
 '33': 1,
 '36': 1,
 '40': 1,
 '41': 1,
 '44': 1,
 '45': 2,
 '46': 1,
 '47': 4,
 '48': 1,
 '49': 2,
 '50': 3,
 '51': 3,
 '52': 5,
 '53': 3,
 '54': 3,
 '55': 5,
 '56': 3,
 '57': 4,
 '58': 8,
 '59': 5,
 '60': 7,
 '61': 9,
 '62': 9,
 '63': 9,
 '64': 13,
 '65': 16,
 '66': 16,
 '67': 13,
 '68': 19,
 '69': 15,
 '70': 17,
 '71': 20,
 '72': 27,
 '73': 25,
 '74': 22,
 '75': 24,
 '76': 33,
 '77': 24,
 '78': 25,
 '79': 25,
 '80': 28,
 '81': 23,
 '82': 24,
 '83': 25,
 '84': 29,
 '85': 27,
 '86': 29,
 '87': 22,
 '88': 26,
 '89': 16,
 '90': 29,
 '91': 20,
 '92': 13,
 '93': 15,
 '94': 20,
 '95': 11,
 '96': 18,
 '97': 12,
 '98': 9,
 '99': 4,
 '^^^^^^': 161}

In [13]:
numeric_df = movie_df[['Year of relase', 'Rating', 'Genre', 'Watchtime', 'Stars']]
# Metascore and Stars attributes symbolize the same thing, so we had to choose either of the 2
# While Metascore had 161 Garbage values in the form of '^^^^^^', Stars was a clean column, so we opted for Stars
numeric_df

    Year of relase     Rating                    Genre  Watchtime  Stars
0             1994          R                    Drama        142    9.3
1             1972          R              Crime Drama        175    9.2
2             2020      TV-MA                    Drama        153    9.1
3             2008      PG-13       Action Crime Drama        152    9.0
4             1974          R              Crime Drama        202    9.0
..             ...        ...                      ...        ...    ...
995           1956          G            Drama Western        201    7.6
996           1953  Not Rated        Drama Romance War        118    7.6
997           1946  Not Rated  Drama Film-Noir Romance        110    7.6
998           1944  Not Rated                Drama War         97    7.6
999           1935  Not Rated   Crime Mystery Thriller         86    7.6

[1000 rows x 5 columns]

In [14]:
nlp_df.to_csv('NLP DF.csv')
numeric_df.to_csv('Numeric DF.csv')

In [15]:
temp_df = pd.read_csv('NLP DF.csv')
temp_df

     Unnamed: 0  ...                    Genre
0             0  ...                    Drama
1             1  ...              Crime Drama
2             2  ...                    Drama
3             3  ...       Action Crime Drama
4             4  ...              Crime Drama
..          ...  ...                      ...
995         995  ...            Drama Western
996         996  ...        Drama Romance War
997         997  ...  Drama Film-Noir Romance
998         998  ...                Drama War
999         999  ...   Crime Mystery Thriller

[1000 rows x 4 columns]